#contenedorAreas{ /* Esto va dentro de la linea de produccion principaly esta relacionado completamente a los procedimientos*/
    box-shadow: 10px 10px 10px rgba(184, 184, 184, 0.8); /* Ajusta la opacidad aquí */
    background: linear-gradient(
        45deg,
        rgb(0, 0, 0),   /* Escala de grises más clara */
        rgb(92, 92, 92), /* Escala de grises intermedia */
        rgb(139, 139, 139)   /* Escala de grises más clara */
    );
    padding: 0px;
    border-radius: 10px;
    margin-right: 30px;
    width: 100%;
    height: auto;
    max-height: 270px;
}#contenedorVersiones{
    box-shadow: 5px 5px 10px rgba(184, 184, 184, 0.8); /* Ajusta la opacidad aquí */
    background: linear-gradient(
        45deg,
        rgb(0, 0, 0),   /* Escala de grises más clara */
        rgb(92, 92, 92), /* Escala de grises intermedia */
        rgb(139, 139, 139)   /* Escala de grises más clara */
    );
    padding: 0px;
    border-radius: 7px;
    margin-right: 30px;
    width: 98%;
    height: auto;
    max-height: 270px;
}
/*Cunado se oprima el boton de sumar que se ponga opaco el fondo de las opcioens de la linea de produccion*/

#contenedorAreas.fondoOpaco{
    opacity: 0.3;
    pointer-events: none;
}

.areaEscroleableY{
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 0;
}
/* PROCESOS DE LA LINEA DE PRODUCCION */
.Areas{ /*Areas en comun (el contenedor de todas las areas)*/
    border-radius: 10px;
    height: auto;
    max-height: 270px;
    overflow-x: scroll;
}
/* Estilos para personalizar la apariencia de la barra de desplazamiento en Firefox */
.Areas {
    scrollbar-width: thin; /* Establece el ancho de la barra de desplazamiento */
    scrollbar-color: #ccc transparent; /* Establece el color del thumb (el control deslizante) y del track */
}

/* Establece el color del thumb (el control deslizante) */
.Areas::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

/* Establece el color del track (fondo de la barra) */
.Areas::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Oculta las esquinas de la barra de desplazamiento */
.Areas::-webkit-scrollbar-corner {
    display: none;
}.Area{
    box-shadow: 3px 3px 5px rgba(184, 184, 184, 0.8); /* Ajusta la opacidad aquí */
    display: flex;
    align-content: center; /* Alinea al final del contenedor */
    position: relative;
    height: 60px;
    padding-left: 6px;
    margin-bottom: 0px;
    overflow: visible; /* Permitir que el contenido desborde el contenedor */
    padding-left: 270px;
    width: 100%;
}

/* - Apartado de el numerador (El numerador del area, el que muestra su nombre) - */

.Area .numerador{ /*El numeroador es el elemento que contiene el nombre*/
    padding: 5px;
    position: absolute;
    display: flex;
    align-items: center;
    left: 50px;
    z-index: 1000;
    height: 24px;
    width: 148px;
    top: 13px;
    margin-left: 4px;
    margin-right: 4px;
    color: #8a8a8a;
    background-color: rgb(71, 71, 71);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8); /* Ajusta la opacidad aquí */
    border-radius: 20px;
    transition: 0.3s;
    user-select: none; /* Evita la selección de texto */
    -moz-user-select: none; /* Para Firefox */
    -webkit-user-select: none; /* Para navegadores basados en Webkit como Chrome y Safari */
    -ms-user-select: none; /* Para Internet Explorer/Edge */
}.Area .numerador:hover{
    background-color: rgb(133, 133, 133);
    box-shadow: 3px 3px 5px rgba(177, 177, 177, 0.8); /* Ajusta la opacidad aquí */
}.numerador h3{
    display: none;
    opacity: 0;
    color: #fff;
}.numerador h3.visible{
    display: block;
    opacity: 1;
    color: #fff;
}.contnombre h3.visible{
    display: block;
    opacity: 1;
    color: #fff;
}.nombreGama{
    display: block;
    opacity: 1;
    color: #fff;
}.iconoEditar{
    display: none;
    opacity: 0;
    z-index: 1000;
    height: 23px;
    width: 23px;
    margin-left: auto;
}.iconoEditar.visible{
    display: block;
    opacity: 0.7;
}.IconoConfirmacion{
    display: none;
    opacity: 0;
    width: 30px;
    height: 30px;
    margin-left: auto;
    border-radius: 999px;
    box-shadow: 0 0 10px rgba(89, 151, 9, 0.8); /*Ajusta la opacidad aquí */
    transition: 0.2s;
}.IconoConfirmacion img{
    position: relative;
    width: 48px;
    height: 48px;
    left: -9px;
    top: -9px;
}.IconoConfirmacion.visible{
    display: block;
    opacity: 0.7;
}.IconoConfirmacion:hover{
    background-color: white;
    box-shadow: 0 0 10px rgba(133, 233, 2, 0.8); /*Ajusta la opacidad aquí */
    border: 10px rgba(133, 233, 2, 0.8);
    opacity: 1;
}
.inputNumerador{
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
    display: none;
    opacity: 0;
    z-index: 2000;
    height: 25px;
    width: 95px;
    border-radius: 2px;
    border: 0px;
    border-bottom: 1px solid black;
    background-color: rgba(71, 71, 71, 0);
}.inputNumerador.visible{
    display: block;
    opacity: 1;
}.inputNombreGama{
    position: relative;
    margin-left: 4px;
    margin-right: 4px;
    display: none;
    opacity: 0;
    z-index: 2000;
    height: 25px;
    width: 95px;
    border-radius: 2px;
    border: 0px;
    border-bottom: 1px solid black;
    background-color: rgba(71, 71, 71, 0);
}.inputNombreGama.visible{
    display: block;
    opacity: 1;
}.error{
    box-shadow: 0 0 10px rgba(233, 75, 2, 0.8); /*Ajusta la opacidad aquí */
}.exito{
    box-shadow: 0 0 10px rgba(2, 233, 106, 0.8); /*Ajusta la opacidad aquí */
}


/* - Apartado para las imagenesy demas especificaciones - */
.ImagenArea{
    position: absolute;
    width: 60px;
    height: 40px;
    top: 15px;
    left: 140px;
    border-radius: 10px;
}.imagenPaso{
    width: 50px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Ajusta la opacidad aquí */
}.contenedorImagen{
    display: inline-block;
    position: relative;
    margin: 5px;
    padding: 0px;
    margin: 5px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8); /* Ajusta la opacidad aquí */
}

/*Cunado los procesos no tenan concorf=dancia (por su direccionalidad), todos tendran esta clase*/


/*resto de estilos de elementos de los procesos*/
.iconoSuma{
    width: 25px;
    height: 25px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Establece la propiedad, duración y función de temporización de la transición. */
    position: absolute;
    bottom: 0; /* Establece el borde inferior del hijo en la parte inferior del padre */
    bottom: -15px;
    transform: translateX(-50%); /* Centra horizontalmente el hijo en relación al centro del padre */
    background-color: #81cdd3; /* Ajusta el color de fondo del hijo según tus necesidades */
    box-shadow: 0 0 10px rgba(132, 220, 247, 0.8); /* Ajusta los valores según tus preferencias */
    color: #fff; /* Ajusta el color del texto según tus necesidades */
    border-radius: 999px;
    z-index: 1000;
}.iconoSuma img{
    position: absolute;
    left: -1px;
    top: -1px;
    width: 32px;
    height: 32px;
    border-radius: 999px;
    z-index: 1000;
}.iconoBorrar{/* Icono para borrar un proceso*/
    width: 25px;
    height: 25px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Establece la propiedad, duración y función de temporización de la transición. */
    position: absolute;
    bottom: 0; /* Establece el borde inferior del hijo en la parte inferior del padre */
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%); /* Centra horizontalmente el hijo en relación al centro del padre */
    background-color: #e62c2c; /* Ajusta el color de fondo del hijo según tus necesidades */
    box-shadow: 0 0 10px rgba(247, 197, 132, 0.8); /* Ajusta los valores según tus preferencias */
    border-radius: 999px;
    z-index: 100;
}.iconoBorrar img{
    width: 25px;
    height: 25px;
    border-radius: 999px;
    z-index: 1000;
}



/* Apartado de el icono de agragar una area (el icoo de suma grande) */
.espaciaAgregarArea{
    position: relative;
    transition: 0.4s;
    background-color: #3da7b1; /* Ajusta el color de fondo del hijo según tus necesidades */
    box-shadow: 0 0 10px rgba(132, 220, 247, 0.8); /* Ajusta los valores según tus preferencias */
    height:40px;
    width: 40px;
    overflow: visible; /* Permitir que el contenido desborde el contenedor */
    border-radius: 999px;
    /*CENTRAR*/
    left: 110px;
    margin-top: 6px;
    margin-bottom: 6px;
}.espaciaAgregarArea img{
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta el espacio en blanco */
}.espaciaAgregarArea:hover{
    box-shadow: 0 0 15px rgba(44, 195, 221, 0.8); /* Ajusta la opacidad aquí */
    background-color: #2ddbc4; /* Ajusta el color de fondo del hijo según tus necesidades */
}

.iconoBorrarArea{/* Icono para borrar un proceso*/
    width: 34px;
    height: 34px;
    position: absolute;
    left: 30px;
    top: 10px;
    transform: translateX(-50%); /* Centra horizontalmente el hijo en relación al centro del padre */
    background-color: #e62c2c; /* Ajusta el color de fondo del hijo según tus necesidades */
    box-shadow: 0 0 10px rgba(247, 197, 132, 0.8); /* Ajusta los valores según tus preferencias */
    border-radius: 999px;
    padding: 3px;
    z-index: 100;
}.iconoBorrarArea img{
    width: 98%;
    height: 98%;
    object-fit: cover; /* Recorta el espacio en blanco */
    z-index: 1000;
}

.espaciaAgregarImagen .iconoSuma{
    transition: opacity 0.3s ease-in-out; /* Establece la propiedad, duración y función de temporización de la transición. */
    position: absolute;
    transform: translateX(-50%); /* Centra horizontalmente el hijo en relación al centro del padre */
    background-color: #4ce3ee; /* Ajusta el color de fondo del hijo según tus necesidades */
    box-shadow: 0 0 10px rgba(132, 220, 247, 0.8); /* Ajusta los valores según tus preferencias */
    color: #fff; /* Ajusta el color del texto según tus necesidades */
    border-radius: 999px;
    z-index: 1000;
    overflow: visible; /* Ignora el desbordamiento del hijo */
}.opacidad-iconoAgregar-obscuro {
    opacity: 0;
}.opacidad-iconoAgregar-claro {
    opacity: 0.7;
}