/*Icono de Agregar*/
.iconoSuma:hover{
    background-color: rgb(167, 214, 255);
    opacity: 1;
}

/*Icono de Reemplazar*/
.iconoAnular:hover{
    background-color: rgb(182, 130, 34);
    opacity: 1;}

/*Icono de Borrar*/
.iconoBorrar:hover{
    background-color: rgb(223, 114, 114);
    opacity: 1;
}