/*Icono de Agregar*/
.iconoSuma:hover{
    background-color: rgb(167, 214, 255);
    opacity: 1;
    display: block;
}

/*Icono de Borrar*/
.contenedorImagen .imagenPaso:hover ~ .iconoBorrar {
    opacity: 1;
}.iconoBorrar:hover{
    opacity: 1;
}