/*Icono de Agregar*/
.proceso .conector:hover ~ .iconoSuma {
    color: aliceblue;
    opacity: 1;
}.iconoSuma:hover{
    color: aliceblue;
    opacity: 1;
}

/*Icono de Reemplazar*/
.proceso .conector:hover ~ .iconoAnular {
    opacity: 1;
}.iconoAnular:hover{
    opacity: 1;
}

/*Icono de Borrar*/
.proceso .conector:hover ~ .iconoBorrar {
    opacity: 1;
}.iconoBorrar:hover{
    opacity: 1;
}