#LineaDeProduccionOpcionesProducto{ /* Esto va dentro de la linea de produccion principaly esta relacionado completamente a los procedimientos*/
    display: none;
    background-color: rgb(116, 116, 116);
    padding: 0px;
    border-radius: 10px;
    margin-right: 30px;
    width: 100%;
    height: auto;
    max-height: 270px;
}
/*Cunado se oprima el boton de sumar que se ponga opaco el fondo de las opcioens de la linea de produccion*/

#LineaDeProduccionOpcionesProducto.fondoOpaco{
    opacity: 0.3;
    pointer-events: none;
}

.areaEscroleableY{
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: 0;
    scroll-snap-type: y mandatory; /* Establece el desplazamiento horizontal obligatorio */
}
/* PROCESOS DE LA LINEA DE PRODUCCION */
.procedimientos{
    border-radius: 10px;
    height: 270px;
}.proceso{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Una columna por elemento */
    align-content: end; /* Alinea al final del contenedor */
    position: relative;
    height: 60px;
    padding-left: 6px;
    margin-bottom: 0px;
    overflow: visible; /* Permitir que el contenido desborde el contenedor */
}.subproceso{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Una columna por elemento */
    align-content: end; /* Alinea al final del contenedor */
    position: relative;
    height: 60px;
    padding-left: 6px;
    margin-bottom: 0px;
    overflow: visible; /* Permitir que el contenido desborde el contenedor */
}


/*Cunado los procesos no tenan concorf=dancia (por su direccionalidad), todos tendran esta clase*/

.proceso.fondoOpaco{
    background-color: #ff52525e;
    box-shadow: 0 0 30px rgba(255, 66, 66, 0.712);
    opacity: 0.2;
    pointer-events: none;
}


.proceso .numerador{
    position: absolute;
    display: flex;
    align-items: center;
    left: 5px;
    z-index: 2000;
    height: 30px;
    top: -7px;
    margin-left: 4px;
    margin-right: 4px;
    color: #8a8a8a;
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
}.subproceso .numerador{
    position: absolute;
    display: flex;
    align-items: center;
    left: 5px;
    z-index: 2000;
    height: 30px;
    top: -7px;
    margin-left: 4px;
    margin-right: 4px;
    color: #8a8a8a;
    background-color: rgb(71, 71, 71);
    border-radius: 10px;
}

.par{
    background-color: rgb(54, 54, 54);
}
.inpar{
    background-color: rgb(139, 139, 139);
}.inpar.primero{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}.inpar.ultimo{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/**CONECTORES*/
.conector{
    display: flex;
    top: 23px;
    align-items: center; /* Centrar verticalmente (grados Y) */
    position: absolute;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Ajusta la opacidad aquí */
}

.conector.NR{
    background-color: rgb(255, 84, 118);
    box-shadow: 0 0 10px rgba(255, 105, 105, 0.8); /* Ajusta los valores según tus preferencias */
}.conector.R{
    background-color: rgb(113, 255, 160);
    box-shadow: 0 0 10px rgba(135, 255, 141, 0.8); /* Ajusta los valores según tus preferencias */
}.conector.actual{
    background-color: rgb(113, 215, 255);
    box-shadow: 0 0 10px rgba(50, 115, 255, 0.8); /* Ajusta los valores según tus preferencias */
}
.conector .punta {
    margin: 0;
    border-radius: 999px;
    width: 10px;
    height: 10px;
    background-color: rgb(95, 95, 95);
}


/**SUBCONECTORES*/
.subConector{
    display: flex;
    top: 23px;
    align-items: center; /* Centrar verticalmente (grados Y) */
    position: absolute;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Ajusta la opacidad aquí */
}

.subConector.NR{
    background-color: rgb(255, 84, 118);
    box-shadow: 0 0 10px rgba(255, 105, 105, 0.8); /* Ajusta los valores según tus preferencias */
}.subConector.R{
    background-color: rgb(113, 255, 160);
    box-shadow: 0 0 10px rgba(135, 255, 141, 0.8); /* Ajusta los valores según tus preferencias */
}.subConector.actual{
    background-color: rgb(113, 215, 255);
    box-shadow: 0 0 10px rgba(50, 115, 255, 0.8); /* Ajusta los valores según tus preferencias */
}
.subConector .punta {
    margin: 0;
    border-radius: 999px;
    width: 10px;
    height: 10px;
    background-color: rgb(95, 95, 95);
}

.avance .punta{
    margin-left: auto;
}
.retroceso{
    box-shadow: 0 0 10px rgba(255, 14, 14, 0.8); /* Ajusta los valores según tus preferencias */
}

/*Este estilo es solo para el primer conector, el cual es el que reprecenta el principio de la distribucion*/


.conectorPrimero{
    top: 23px;
    display: flex;
    align-items: center; /* Centrar verticalmente (grados Y) */
    position: absolute;
    border-radius: 10px;
}

.conectorPrimero.R{
    background-color: rgb(113, 255, 160);
    box-shadow: 0 0 10px rgba(83, 255, 183, 0.8); /* Ajusta los valores según tus preferencias */
}.conectorPrimero.NR{
    background-color: rgb(255, 84, 118);
    box-shadow: 0 0 10px rgba(255, 253, 128, 0.8); /* Ajusta los valores según tus preferencias */
}.conectorPrimero .punta {
    margin: 0;
    border-radius: 999px;
    width: 10px;
    height: 10px;
    background-color: rgb(95, 95, 95);
    margin-left: auto;
}#proceso_1 .iconoAnular{
    display: none;
}

/*En el caso de el elemento actual, la animacion de carga*/

.carga{
    position: absolute;
    width: 10px;
    height: 10px;
    border: 5px solid #3498db;
    border-top: 5px solid transparent;
    border-radius: 50%;
    left: 50%;
    top: 0px;
    animation: spin 1s linear infinite;
}@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/*resto de estilos de elementos de los procesos*/
.iconoSuma{
    width: 25px;
    height: 25px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Establece la propiedad, duración y función de temporización de la transición. */
    position: absolute;
    bottom: 0; /* Establece el borde inferior del hijo en la parte inferior del padre */
    bottom: -15px;
    transform: translateX(-50%); /* Centra horizontalmente el hijo en relación al centro del padre */
    background-color: #81cdd3; /* Ajusta el color de fondo del hijo según tus necesidades */
    box-shadow: 0 0 10px rgba(132, 220, 247, 0.8); /* Ajusta los valores según tus preferencias */
    color: #fff; /* Ajusta el color del texto según tus necesidades */
    border-radius: 999px;
    z-index: 1000;
}.iconoSuma h2{
    padding: 0px;
    padding-left: 5px;
    margin: 0px;
}.iconoAnular{/* Icono para reemplazar un proceso*/
    width: 25px;
    height: 25px;
    top: 23px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Establece la propiedad, duración y función de temporización de la transición. */
    position: absolute;
    transform: translateX(-50%); /* Centra horizontalmente el hijo en relación al centro del padre */
    box-shadow: 0 0 10px rgba(255, 240, 103, 0.8); /* Ajusta los valores según tus preferencias */
    color: #ff5858; /* Ajusta el color del texto según tus necesidades */
    border-radius: 999px;
    z-index: 1000;
}.iconoAnular img{
    width: 25px;
    height: 25px;
    border-radius: 999px;
    z-index: 1000;
}.iconoBorrar{/* Icono para borrar un proceso*/
    width: 25px;
    height: 25px;
    top: 23px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; /* Establece la propiedad, duración y función de temporización de la transición. */
    position: absolute;
    transform: translateX(-50%); /* Centra horizontalmente el hijo en relación al centro del padre */
    background-color: #ff8819;
    box-shadow: 0 0 10px rgba(255, 240, 103, 0.8); /* Ajusta los valores según tus preferencias */
    color: #ff5858; /* Ajusta el color del texto según tus necesidades */
    border-radius: 999px;
    z-index: 1000;
}.iconoBorrar img{
    width: 25px;
    height: 25px;
    border-radius: 999px;
    z-index: 1000;
}
