.botonEleccion{
    display: flex;
    background-color: black;
    border: black;
    color: aliceblue;
    border-radius: 10px;
    width: 150px;
    height: 30px;
}.contenedorBoton{
    padding: 10px;
}#areaBotones{
    position: relative;
    display: inline-flex;
}.botonEleccion#aceptar:hover{
    color: black;
    background-color: rgb(190, 251, 255);
    box-shadow: 0 0 10px rgba(79, 205, 255, 0.726);
    transition: 0.4s;
}.botonEleccion#cancelar:hover{
    color: black;
    background-color: rgb(255, 249, 196);
    box-shadow: 0 0 10px rgba(255, 182, 87, 0.726);
    transition: 0.4s;
}.anunciado.ventanaEmergente{
    color: rgb(202, 202, 202);
}h5{
    color: red;
    box-shadow: 0 0 5px rgba(255, 80, 57, 0.726);
}