.procedimientoHijo{

    padding-left: 30px;
    margin-left: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(116, 116, 116);
    box-shadow: 0 0 20px rgba(194, 194, 194, 0.678);
    width: 100%;
    height:60px;
    padding-right: -40px;
    left: 20px;
    position: relative;
}.procedimientoHijo.procesoCorreccionAnular{
    margin-left: 10px;
    padding-left: 0px;
    box-shadow: 0 0 20px rgba(104, 67, 67, 0.678);
}