<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linea de produccion</title>
    
    <!--Css--->
    <link rel="stylesheet" href="/css/PanelDeControl_disenador-Industrial/opcionesDocumento.css">
    <link rel="stylesheet" href="/css/PanelDeControl_disenador-Industrial/opcionesAreas.css">    
    <link rel="stylesheet" href="/css/PanelDeControl_disenador-Industrial/areas.css">
    <link rel="stylesheet" href="/css/PanelDeControl_disenador-Industrial/ventanaEmergenteModal.css">
    <link rel="stylesheet" href="/css/PanelDeControl_disenador-Industrial/versiones.css">
    <!--Eventos hover de los iconos seleccionables-->
    <link rel="stylesheet" href="/css/PanelDeControl_disenador-Industrial/eventoHoverIconos.css">

    
    <!--Scripts-->
    
    <!--jquery-->
    <script type="text/javascript" src="/js/PanelDeControl_dise単ador-Industrial/Sortable.min.js"></script>
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="/js/jquery-ui-1.13.2.custom/jquery-ui.min.css">
    <link rel="stylesheet" href="/js/jquery-ui-1.13.2.custom/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="/js/jquery-ui-1.13.2.custom/jquery-ui.theme.min.css">   
    
    <!-- ver una version -->
    <script type="text/javascript" src="/js/PanelDeControl_dise単ador-Industrial/versiones/verVersion/interaccionIconoVercion.js"></script>
    <!-- duplicar una version -->
    <script type="text/javascript" src="/js/PanelDeControl_dise単ador-Industrial/versiones/duplicarVersion/interaccionIconoDuplicar.js"></script>

    
    <meta http-equiv="Content-Security-Policy" content="img-src 'self' blob: data:">
</head>
<body>
    <div id="titulo">
        <h1>Dise単ador Industrial</h1>
    </div>

    <%  
    gamasP.forEach((gamaP, indice)=>{
        console.log(gamaP)
        %>
        <div id="<%= gamaP.gamaProductoID %>" class="selectorVersiones">
            <h2 style="padding: 0px;margin: 0px;margin: auto;margin-bottom: 10px;margin-top: 10px;width: fit-content;">Selector de versiones</h2>
            
            <div class="CampoNombreGama">
                <div class="contnombre">
                    <h3 style="padding: 0px;margin: 0px;margin: auto;margin-bottom: 10px;margin-top: 10px;width: fit-content;" class="nombreGama visible">
                        Gama <%= gamaP.gamaProductoID %><img class="iconoEditar visible" src="/css/img/iconoEditar.png"></h3>
                    
                    <div class="IconoConfirmacion">
                        <img class="imagenEditar"  src="/css/img/iconoConfirmar_flecha.png">
                    </div>
                    <input class="inputNombreGama" value="" type="text" maxlength="10" placeholder="<%= gamaP.gamaProductoID %>">
                </div>
            </div>
            
                
            <div class="areaEscroleableY">
                <ul id="contenedorVersiones">
                    <div class="versiones">          
                        <%- include('elegirVersion.ejs', {
                            versiones: versiones,
                            gama: gamaP.gamaProductoID,
                        }) %>
                    </div>
                </ul>
            </div> 
        </div>
    <%
    });
    %>
    <!-- Esta zona se rellenara cuando se de click a alguna version -->
    <div id="listaAreas" class="invisible">
        <h2 style="padding: 0px;margin: 0px;margin-bottom: -10px;margin-left: 57px;width: fit-content;">Panel de control</h2>
        <div class="areaEscroleableX">
            <ul id="contenedorAreas">
                <div class="Areas areaEscroleableY">                

                </div>
            </ul>
        </div> 

        <div id="areaBotonesV" style="display: none;margin-left: calc(100% - 350px);">
            <div class="contenedorBoton">
                <button class="botonEleccion cerrar" id="cancelar">Cancelar</button>
            </div>
            <div class="contenedorBoton">
                <button class="botonEleccion" id="guardar">Guardar</button>
            </div>
        </div>

        <div id="ventanaConfirmacion">
            <div id="contenidoVentanaConfirmacion"></div>
        </div>
    </div>
</body>
</html>