<%
    const areaIDparseada = area.id.split('');
    //Si es un area de bodega 
    if (areaIDparseada[0] == "A") { %>
        <div class="Area" id="<%= area.id %>">
            <li class="numerador" id="numerador_<%= area.id %>"><h2><%= area.id %></h2></li>
            <%
            var numeroImagenesDeArea = 0;
            imagenesAreas.forEach((imagen, indice) => { 

                if (imagen.areaID == area.id) {
                    // Convertir el buffer en una URL de datos
                    const imagenDataURL = `data:image/jpeg;base64,${imagen.imagenEncriptada.toString('base64')}`;
                    %>
                    <div class="contenedorImagen">
                        <img src="<%= imagenDataURL %>" alt="" class="imagenPaso">
                        <div type="submit" name="enviarFormularioIconoAgregar" class="iconoSuma" style="opacity: 0; width: 30px;height: 30px; left: 70px;top: 17px;">
                            <h2 style="position: absolute;left: 10%;top: 10%;">+</h2>
                        </div>    
                    </div>
                <% numeroImagenesDeArea++
                }
            }) %>
            <% //if (numeroImagenesDeArea == 0) { %>
                <div class="espaciaAgregarImagen">
                    <div type="submit" name="enviarFormularioIconoAgregar" class="iconoSuma" style="width: 30px;height: 30px; left: 70px;top: 17px;">
                        <h2 style="position: absolute;left: 10%;top: 10%;">+</h2>
                    </div>
                </div>
            <% //} %>
        </div>
<% } %>
<% if (esUltimaArea) { %>
    <div class="espaciaAgregarArea" id="espaciaAgregarArea">
        <div class="iconoSumaArea" style="opacity: 1;width: 40px;height: 40px;"><h1>+</h1></div>
    </div>
<% } %>